.checkbox[data-part="root"] {
  display: flex;
  align-items: center;
  cursor: pointer;

  height: var(--checkbox-height);
  gap: var(--checkbox-gap);
}

.checkbox[data-part="control"] {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--checkbox-control-size);
  height: var(--checkbox-control-size);
  border-radius: var(--checkbox-control-corner-radius);
  border: 1px solid var(--checkbox-stroke-color);
  background-color: var(--checkbox-control-color);
  color: var(--checkbox-icon-color);
}

.checkbox[data-part="label"] {
  color: var(--checkbox-text-color);
}

.checkbox[data-part="icon"] {
  width: var(--checkbox-icon-size);
  height: var(--checkbox-icon-size);
}
