:root {
    --color-gray-100: rgba(248, 248, 248, 1);
    --color-red-1300: rgba(86, 3, 3, 1);
    --color-gray-75: rgba(253, 253, 253, 1);
    --color-red-1200: rgba(114, 6, 8, 1);
    --color-gray-50: rgba(255, 255, 255, 1);
    --color-red-1100: rgba(142, 15, 17, 1);
    --color-red-1000: rgba(172, 28, 30, 1);
    --color-red-900: rgba(199, 48, 47, 1);
    --color-blue-300: rgba(182, 222, 254, 1);
    --color-red-800: rgba(222, 72, 67, 1);
    --color-blue-200: rgba(200, 231, 254, 1);
    --color-red-700: rgba(240, 97, 89, 1);
    --color-blue-100: rgba(225, 242, 255, 1);
    --color-red-600: rgba(254, 123, 113, 1);
    --color-red-500: rgba(255, 154, 144, 1);
    --color-red-400: rgba(255, 182, 173, 1);
    --color-red-300: rgba(255, 205, 198, 1);
    --color-red-200: rgba(254, 220, 215, 1);
    --color-red-100: rgba(254, 235, 232, 1);
    --color-yellow-1300: rgba(62, 32, 0, 1);
    --color-yellow-1200: rgba(82, 45, 0, 1);
    --color-yellow-1100: rgba(103, 60, 1, 1);
    --color-yellow-1000: rgba(125, 77, 4, 1);
    --color-yellow-900: rgba(148, 95, 7, 1);
    --color-yellow-800: rgba(170, 113, 8, 1);
    --color-yellow-700: rgba(192, 132, 14, 1);
    --color-yellow-500: rgba(223, 174, 65, 1);
    --color-yellow-400: rgba(234, 195, 99, 1);
    --color-yellow-300: rgba(242, 215, 136, 1);
    --color-yellow-200: rgba(247, 226, 160, 1);
    --color-yellow-100: rgba(253, 239, 193, 1);
    --color-green-1300: rgba(5, 46, 19, 1);
    --color-green-1200: rgba(8, 63, 27, 1);
    --color-green-1100: rgba(14, 81, 35, 1);
    --color-green-1000: rgba(22, 101, 43, 1);
    --color-green-900: rgba(29, 122, 51, 1);
    --color-green-800: rgba(34, 143, 58, 1);
    --color-green-700: rgba(44, 165, 66, 1);
    --color-green-600: rgba(63, 185, 80, 1);
    --color-green-500: rgba(91, 204, 103, 1);
    --color-green-400: rgba(120, 221, 130, 1);
    --color-green-300: rgba(153, 236, 160, 1);
    --color-green-200: rgba(175, 245, 180, 1);
    --color-green-100: rgba(203, 251, 204, 1);
    --color-blue-1300: rgba(6, 36, 93, 1);
    --color-blue-1200: rgba(8, 49, 125, 1);
    --color-blue-1100: rgba(9, 63, 158, 1);
    --color-blue-1000: rgba(14, 81, 190, 1);
    --color-blue-900: rgba(25, 101, 214, 1);
    --color-blue-700: rgba(64, 144, 246, 1);
    --color-blue-600: rgba(87, 165, 254, 1);
    --color-blue-500: rgba(118, 187, 255, 1);
    --color-blue-400: rgba(148, 205, 255, 1);
    --color-gray-600: rgba(109, 109, 109, 1);
    --color-gray-900: rgba(0, 0, 0, 1);
    --color-gray-800: rgba(34, 34, 34, 1);
    --color-gray-500: rgba(144, 144, 144, 1);
    --color-gray-700: rgba(70, 70, 70, 1);
    --color-gray-400: rgba(177, 177, 177, 1);
    --color-gray-300: rgba(213, 213, 213, 1);
    --color-blue-800: rgba(43, 123, 233, 1);
    --color-yellow-600: rgba(209, 152, 32, 1);
    --color-gray-200: rgba(230, 230, 230, 1);
    --color-bg-disabled: var(--color-gray-200);
    --color-bg-neutral-pressed: var(--color-gray-700);
    --color-bg-neutral-hover: var(--color-gray-800);
    --color-bg-neutral: var(--color-gray-900);
    --color-bg-brand-hover: var(--color-blue-1000);
    --color-bg-brand: var(--color-blue-900);
    --color-bg-layer-2: var(--color-gray-50);
    --color-bg-layer-1: var(--color-gray-100);
    --color-bg-layer-base: var(--color-gray-200);
    --color-bg-brand-pressed: var(--color-blue-1100);
    --color-bg-critical: var(--color-red-900);
    --color-fg-on-critical: var(--color-gray-50);
    --color-fg-neutral-text: var(--color-gray-800);
    --color-fg-disabled: var(--color-gray-400);
    --color-fg-on-neutral: var(--color-gray-50);
    --color-fg-on-brand: var(--color-gray-50);
    --color-fg-neutral-text-subtle: var(--color-gray-700);
    --color-fg-neutral-text-pressed: var(--color-gray-900);
    --color-fg-neutral-text-hover: var(--color-gray-900);
    --color-fg-brand-text: var(--color-blue-900);
    --color-stroke-critical-hover: var(--color-red-1000);
    --color-stroke-field-hover: var(--color-gray-500);
    --color-stroke-control-hover: var(--color-gray-700);
    --color-stroke-field: var(--color-gray-400);
    --color-stroke-control-pressed: var(--color-gray-800);
    --color-stroke-brand: var(--color-blue-800);
    --color-stroke-control: var(--color-gray-600);
    --color-stroke-critical: var(--color-red-900);
    --color-stroke-decorative-1: var(--color-gray-300);
    --color-stroke-critical-pressed: var(--color-red-1100);
    --color-stroke-field-pressed: var(--color-blue-900);
    --color-stroke-decorative-2: var(--color-gray-200);
    --color-stroke-focusring: var(--color-blue-800);
    --color-stroke-disabled: var(--color-gray-300);
    --spacing-none: 0px;
    --spacing-xxlarge: 24px;
    --spacing-xlarge: 20px;
    --spacing-large: 16px;
    --spacing-medium: 12px;
    --spacing-small: 8px;
    --spacing-xsmall: 4px;
    --radii-full: 99999px;
    --radii-xlarge: 8px;
    --radii-large: 6px;
    --radii-medium: 4px;
    --radii-small: 2px;
    --radii-none: 0px;
    --uniform-height-medium: 32px;
    --uniform-height-small: 24px;
    --uniform-height-large: 40px;
    --icon-size-medium: 20px;
    --icon-size-small: 12px
}
:root[data-color-mode='dark'] {
    --color-gray-100: rgba(29, 29, 29, 1);
    --color-red-1300: rgba(254, 223, 219, 1);
    --color-gray-75: rgba(14, 14, 14, 1);
    --color-red-1200: rgba(255, 205, 198, 1);
    --color-gray-50: rgba(0, 0, 0, 1);
    --color-red-1100: rgba(255, 182, 173, 1);
    --color-red-1000: rgba(255, 157, 147, 1);
    --color-red-900: rgba(255, 127, 118, 1);
    --color-blue-300: rgba(9, 60, 149, 1);
    --color-red-800: rgba(243, 102, 94, 1);
    --color-blue-200: rgba(7, 47, 120, 1);
    --color-red-700: rgba(227, 78, 73, 1);
    --color-blue-100: rgba(6, 35, 93, 1);
    --color-red-600: rgba(208, 57, 54, 1);
    --color-red-500: rgba(186, 37, 38, 1);
    --color-red-400: rgba(161, 23, 25, 1);
    --color-red-300: rgba(135, 12, 15, 1);
    --color-red-200: rgba(109, 6, 7, 1);
    --color-red-100: rgba(85, 3, 3, 1);
    --color-yellow-1300: rgba(249, 229, 167, 1);
    --color-yellow-1200: rgba(242, 214, 135, 1);
    --color-yellow-1100: rgba(234, 196, 100, 1);
    --color-yellow-1000: rgba(225, 176, 68, 1);
    --color-yellow-900: rgba(212, 156, 38, 1);
    --color-yellow-800: rgba(195, 136, 17, 1);
    --color-yellow-700: rgba(176, 118, 8, 1);
    --color-yellow-500: rgba(136, 86, 6, 1);
    --color-yellow-400: rgba(117, 71, 3, 1);
    --color-yellow-300: rgba(97, 57, 1, 1);
    --color-yellow-200: rgba(78, 43, 0, 1);
    --color-yellow-100: rgba(62, 32, 0, 1);
    --color-green-1300: rgba(181, 246, 185, 1);
    --color-green-1200: rgba(151, 236, 159, 1);
    --color-green-1100: rgba(121, 222, 131, 1);
    --color-green-1000: rgba(94, 206, 106, 1);
    --color-green-900: rgba(68, 188, 83, 1);
    --color-green-800: rgba(47, 169, 68, 1);
    --color-green-700: rgba(36, 149, 60, 1);
    --color-green-600: rgba(31, 130, 54, 1);
    --color-green-500: rgba(26, 111, 47, 1);
    --color-green-400: rgba(19, 94, 40, 1);
    --color-green-300: rgba(12, 77, 32, 1);
    --color-green-200: rgba(7, 60, 25, 1);
    --color-green-100: rgba(5, 46, 18, 1);
    --color-blue-1300: rgba(206, 234, 255, 1);
    --color-blue-1200: rgba(180, 221, 254, 1);
    --color-blue-1100: rgba(151, 206, 255, 1);
    --color-blue-1000: rgba(120, 189, 255, 1);
    --color-blue-900: rgba(92, 169, 255, 1);
    --color-blue-700: rgba(48, 128, 237, 1);
    --color-blue-600: rgba(31, 109, 222, 1);
    --color-blue-500: rgba(18, 91, 202, 1);
    --color-blue-400: rgba(11, 74, 178, 1);
    --color-gray-600: rgba(176, 176, 176, 1);
    --color-gray-900: rgba(255, 255, 255, 1);
    --color-gray-800: rgba(235, 235, 235, 1);
    --color-gray-500: rgba(141, 141, 141, 1);
    --color-gray-700: rgba(208, 208, 208, 1);
    --color-gray-400: rgba(106, 106, 106, 1);
    --color-gray-300: rgba(75, 75, 75, 1);
    --color-blue-800: rgba(68, 148, 248, 1);
    --color-yellow-600: rgba(156, 102, 7, 1);
    --color-gray-200: rgba(48, 48, 48, 1);
    --color-bg-disabled: var(--color-gray-200);
    --color-bg-neutral-pressed: var(--color-gray-700);
    --color-bg-neutral-hover: var(--color-gray-800);
    --color-bg-neutral: var(--color-gray-900);
    --color-bg-brand-hover: var(--color-blue-400);
    --color-bg-brand: var(--color-blue-500);
    --color-bg-layer-2: var(--color-gray-100);
    --color-bg-layer-1: var(--color-gray-75);
    --color-bg-layer-base: var(--color-gray-50);
    --color-bg-brand-pressed: var(--color-blue-300);
    --color-bg-critical: var(--color-red-500);
    --color-fg-on-critical: var(--color-gray-900);
    --color-fg-neutral-text: var(--color-gray-800);
    --color-fg-disabled: var(--color-gray-400);
    --color-fg-on-neutral: var(--color-gray-50);
    --color-fg-on-brand: var(--color-gray-900);
    --color-fg-neutral-text-subtle: var(--color-gray-700);
    --color-fg-neutral-text-pressed: var(--color-gray-900);
    --color-fg-neutral-text-hover: var(--color-gray-900);
    --color-fg-brand-text: var(--color-blue-900);
    --color-stroke-critical-hover: var(--color-red-1000);
    --color-stroke-field-hover: var(--color-gray-500);
    --color-stroke-control-hover: var(--color-gray-700);
    --color-stroke-field: var(--color-gray-400);
    --color-stroke-control-pressed: var(--color-gray-800);
    --color-stroke-brand: var(--color-blue-800);
    --color-stroke-control: var(--color-gray-600);
    --color-stroke-critical: var(--color-red-900);
    --color-stroke-decorative-1: var(--color-gray-300);
    --color-stroke-critical-pressed: var(--color-red-1100);
    --color-stroke-field-pressed: var(--color-blue-900);
    --color-stroke-decorative-2: var(--color-gray-200);
    --color-stroke-focusring: var(--color-blue-800);
    --color-stroke-disabled: var(--color-gray-300)
}